<router-outlet></router-outlet>
<app-side-bar></app-side-bar>

<section class="main-wrapper">
  <section class="main-content">
    <form class="form-wrapper">
      <div class="form-field-wrapper">
        <label class="form-label">Name:</label>
        <input class="form-input" type="text" [(ngModel)]="equipment.name" name="equipment-name">
      </div>
      <div class="form-field-wrapper">
        <label class="form-label">Serial Number:</label>
        <input class="form-input" type="text" [(ngModel)]="equipment.serialNumber" name="serial-number">
      </div>

      <button class="form-button" type="submit" (click)="onSaveEquipament()">
        {{equipmentId !== ''
          && (equipment.name !== '' && equipment.serialNumber !== '')
            ? 'Save'
            : 'Create'
        }}
      </button>
    </form>

    <div class="table-wrapper">
      <div class="table-header">
        <div class="table-item">ID</div>
        <div class="table-item">Name</div>
        <div class="table-item">Serial Number</div>
        <div class="table-item">Actions</div>
      </div>

      <div class="table-body">
        <div class="table-row" *ngFor="let equipment of equipments$ | async">
          <div class="table-item">{{equipment._id}}</div>
          <div class="table-item">{{equipment.name}}</div>
          <div class="table-item">{{equipment.serialNumber}}</div>
          <div class="table-item">
            <button class="table-action edit" (click)="editFields(equipment)">
              <fa-icon [icon]="faPencil" />
            </button>
            <button class="table-action delete" (click)="deleteEquipament(equipment._id)">
              <fa-icon [icon]="faTrash" />
            </button>
            <button class="table-action edit" (click)="addPointFromEquipment(equipment._id)">
              <fa-icon [icon]="faPlus" />
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="main-content">
    <form class="form-wrapper">
      <div class="form-field-wrapper">
        <label class="form-label">Name:</label>
        <input class="form-input" type="text" [(ngModel)]="point.name" name="point-name">
      </div>
      <div class="form-field-wrapper">
        <label class="form-label">Data Type:</label>
        <input class="form-input" type="text" [(ngModel)]="point.dataType" name="point-data-type">
      </div>
      <div class="form-field-wrapper">
        <label class="form-label">Value:</label>
        <input class="form-input" type="number" [(ngModel)]="pointValue" name="point-value">
      </div>
      <div class="form-field-wrapper">
        <label class="form-label">Equipment ID:</label>
        <input class="form-input" type="text" [(ngModel)]="point.equipmentId" name="point-equipment-id">
      </div>

      <button class="form-button" type="submit" (click)="onSavePoint()">
        {{pointId !== ''
          && (point.name !== ''
          && point.dataType !== ''
          && pointValue !== ''
          && point.equipmentId !== '')
            ? 'Save'
            : 'Create'
        }}
      </button>
    </form>

    <div class="table-wrapper">
      <div class="table-header">
        <div class="table-item point">E. ID</div>
        <div class="table-item point">Name</div>
        <div class="table-item point">Data Type</div>
        <div class="table-item point">Value</div>
        <div class="table-item point">Actions</div>
      </div>

      <div class="table-body">
        <div class="table-row" *ngFor="let point of points$ | async">
          <div class="table-item point">{{point.equipmentId}}</div>
          <div class="table-item point">{{point.name}}</div>
          <div class="table-item point">{{point.dataType}}</div>
          <div class="table-item point">{{point.value}}</div>
          <div class="table-item point">
            <button class="table-action edit" (click)="editPointFields(point)">
              <fa-icon [icon]="faPencil" />
            </button>
            <button class="table-action delete" (click)="deletePoint(point._id)">
              <fa-icon [icon]="faTrash" />
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
